*{
    margin: 0 ;
    padding: 0; 
}

html{
    scroll-behavior: smooth;
    font-size: 100%;
}
body{
    font-family: "Poppins", sans-serif;
    overflow-x:hidden ;
}

#hero{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url(images/hero.jpg); */
    background-color: bisque;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    filter: brightness(30%);
}
#hero_content{
    position: absolute;
}
#hero_content h1{
    color: #fff;
}
#hero_content h2{
    color: #fff;
}
#hero_content a{
    color: #fff;
    padding: 5px 20px 5px 20px;
    border: 1px solid red;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1.5rem;
}

#hero_content a:hover{
    background: orange;
}
/* header section */
#header{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 70px;
    line-height: 70px;
}
#navbar h1{

    color: red;
    font-size: 1.8rem;
    text-shadow: 2px 2px 2px #000;
    font-family: cursive;
}
#navbar {
    display: flex;
    justify-content: space-around;
    background: rgb(0,0,0,0.3);
}

#phone a{
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    padding: 3px 15px 3px 15px;
    border: 1px solid red;
    border-radius: 25px;
    display: inline;

}

#phone a:hover{
    background: orange;
}